@using WebMatrix.Data

@{
    var db = Database.Open("BoardGame");

    if (IsPost)
    {
        var isql = @"INSERT INTO BOARDGAME
(BGGID, Name, Description, YearPublished, GameWeight, MinPlayers, MaxPlayers, ComAgeRec, LanguageEase, BestPlayers)
VALUES (@0, @1, @2, @3, @4, @5, @6, @7, @8, @9)";

        var idata = db.Execute(isql,
            Request.Form["bBGGId"],
            Request.Form["bName"],
            Request.Form["bDescription"],
            Convert.ToDateTime(Request.Form["bYearPublished"] + "-01-01"),
            Convert.ToInt32(Request.Form["bGameWeight"]),
            Convert.ToInt32(Request.Form["bMinPlayers"]),
            Convert.ToInt32(Request.Form["bMaxPlayers"]),
            Convert.ToInt32(Request.Form["bComAgeRec"]),
            (Request.Form["bLanguageEase"]),
            (Request.Form["bBestPlayers"])
        );
        if (idata == 1)
        {
            var newID = db.GetLastInsertId();
            Response.Redirect("/Views/Details?id" + @newID);
        }
    }
}


    <form action="Create" method="post">
        <div>
            ID
            <input type="text" placeholder="fill the game ID" name="bBGGId" />
            Name
            <input type="text" placeholder="fill the game name" name="bName" />
            Decription
            <input type="text" placeholder="fill the game description" name="bDescription" />
            Year
            <input type="number" placeholder="fill the game year" name="bYearPublished" />
            GameWeight
            <input type="number" placeholder="fill the game weight" name="bGameWeight" />
            MinPlayers
            <input type="number" placeholder="fill the minimum players" name="bMinPlayers" />
            MaxPlayers
            <input type="number" placeholder="fill the maximum players" name="bMaxPlayers" />
            ComAgeRec
            <input type="number" placeholder="fill the recommended age" name="bComAgeRec" />
            LanguageEase
            <input type="text" placeholder="fill the language ease" name="bLanguageEase" />
            BestPlayers
            <input type="text" placeholder="fill the best players" name="bBestPlayers" />

            <input type="submit" value="save" />
            <button type="reset">Clear</button>
        </div>
    </form>